@import '../../index';

.home {
  max-width: $layout-max-width;

  .categories {
    .categories-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: to-rem(22px);

      @include media-breakpoint-sm-up {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-breakpoint-md-up {
        grid-template-columns: repeat(4, 1fr);
      }

      @include media-breakpoint-lg-up {
        grid-template-columns: repeat(5, 1fr);
      }

      @include media-breakpoint-xl-up {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}
