@import '../../../index.scss';

.hamburger {
  width: 2.5rem;
  height: 2rem;

  span {
    width: 100%;
    height: 0.3rem;
    background: $background-white;
    transition: 0.5s;
  }

  &:hover {
    cursor: pointer;
  }
}

.toggled {
  .hamburger {
    span:nth-child(1) {
      transform: rotate(-45deg) translate(-20%, 235%);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(45deg) translate(-20%, -235%);
    }
  }
}
