@import '../../../index.scss';

.hamburger {
  width: to-rem(35px);
  height: to-rem(28px);

  span {
    height: to-rem(4px);
    transition: $slow;
  }

  span:nth-child(2) {
    width: to-rem(22px);
  }

  span:nth-child(3) {
    width: to-rem(28px);
  }

  &:hover {
    cursor: pointer;
  }

  &.toggled {
    span:nth-child(1) {
      transform: rotate(-45deg) translate(-20%, 235%);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(45deg) translate(-20%, -235%);
      width: to-rem(35px);
    }
  }
}
