@import '../../../index';

.home-private {
  .search {
    .search-col {
      padding: 0 0.6rem !important;

      input {
        font-size: 16px;
        @include media-breakpoint-md-up {
          padding: 0.5rem !important;
        }

        &::placeholder {
          text-align: center;
        }
      }

      button {
        animation: appear 1 0.8s;
        height: 100%;
        width: 3.5rem;
        border: none;
        background: $background-primary;
        border-radius: 0.2rem;
        margin-left: -2px;

        @include media-breakpoint-md-up {
          padding: 0.8rem 1rem;
          top: -0.5px;
        }
      }

      i {
        color: $text-white;
        font-size: 20px;
      }
    }
  }

  .home-one {
    @include media-breakpoint-lg-up {
      padding: 0 7rem !important;
    }

    h2 {
      font-size: 24px;
      @include media-breakpoint-lg-up {
        font-size: 32px;
      }
    }
  }
}
