@import '../../../index';

.home-private {
  .search {
    input {
      font-size: 16px;

      @include media-breakpoint-md-up {
        padding: 0.5rem !important;
      }
    }

    button {
      animation: appear 1 0.8s;
      height: 100%;
      width: 3.5rem;
      border: none;
      background: $background-red;
      border-radius: 0.2rem;
      margin-left: -2px;

      @include media-breakpoint-md-up {
        padding: 0.8rem 1rem;
        top: -0.5px;
      }
    }

    i {
      color: $white;
      font-size: 20px;
    }
  }
}
