@import '../../../index.scss';

.header {
  height: to-rem(60px);
  z-index: 10;
  top: 0;

  & > a {
    span {
      font-size: to-rem(32px);
    }
  }

  ul {
    li {
      font-size: to-rem(16px);

      button {
        i {
          font-size: to-rem(24px);
        }
      }
    }
  }

  .menu {
    top: to-rem(60px);
    left: 0;
    z-index: 10;
    height: 10rem;
    animation: appear 1 $timing-slow;

    button {
      outline: none;
    }
  }
}
