@import '../../../index.scss';

header {
  height: to-rem(60px);
  z-index: 10;
  top: 0;

  ul {
    a {
      font-size: to-rem(16px);
    }
  }

  .header-menu {
    top: to-rem(60px);
    left: 0;
    z-index: 10;
    animation: appear 1 $slow;
  }
}
