@import '../../../index.scss';

header {
  top: 0;
  z-index: 1;

  ul {
    li {
      .link {
        font-size: to-rem(16px);
      }
    }
  }

  .header-menu {
    top: 9.5%;
    left: 0;
    z-index: 1;
  }
}
