@import '../../../../index.scss';

.item {
  .img-container {
    img {
      object-fit: cover;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      display: 'block';
      content: '';
      padding-top: 100%;
    }
  }

  section {
    .product-name {
      font-size: to-rem(16px);
      font-weight: 600;
    }

    .product-price {
      font-size: to-rem(18px);
    }
  }
}
