@import '../../index.scss';

.hamburger {
  width: to-rem(35px);
  height: to-rem(30px);

  span {
    height: to-rem(4px);
    transition: $timing-slow;
  }

  span:nth-child(1) {
    width: 100%;
  }

  span:nth-child(2) {
    width: to-rem(22px);
  }

  span:nth-child(3) {
    width: to-rem(28px);
  }

  &:hover {
    cursor: pointer;
    outline: none;
  }

  &.toggled {
    span:nth-child(1) {
      transform: rotate(-45deg) translate(-25%, 235%);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(45deg) translate(-25%, -235%);
      width: 100%;
    }
  }
}
