@import '../../../../index.scss';

.filter-button {
  button {
    font-size: to-rem(16px);
    width: to-rem(150px);

    i {
      transition: $normal;
      font-size: to-rem(24px);

      &.toggle {
        transform: rotate(180deg);
      }
    }

    &:focus {
      outline: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
