@import '../../../../index.scss';

.button {
  font-size: to-rem(16px);
  width: to-rem(140px);
  box-shadow: $shadow-small;

  i {
    transition: $timing-normal;
    font-size: to-rem(24px);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.toggle {
    i {
      transform: rotate(180deg);
    }
  }
}
