@import '../../../../../index.scss';

// remove important & everywhere use TO REM
// USE CLASSES FOR COLORS
.auth-modal {
  overflow: hidden;
  width: 16rem;
  height: 8rem;
  background: $background-white;
  border-radius: 0.5rem;

  .auth-link {
    flex: 1;
    color: $text-primary;
    font-size: 16px;
    text-decoration: none; // BS ?

    &:hover {
      background: $background-primary;
      color: $text-white;
    }
  }
}
