@import '../../../../../index.scss';

.auth-modal {
  width: to-rem(250px);

  a {
    font-size: to-rem(16px);

    &:hover {
      background: $background-primary;
      color: $text-white;
    }
  }
}
