// Auth Button
@mixin authButton {
  background: $background-red;
  padding: $padding-xs;
  font-size: 18px;
  border: none;
  outline: none;
  color: $text-white;
  margin-top: $margin-s;
  animation: appear 1 0.5s;

  &:hover {
    background: $background-red-hover;
    cursor: pointer;
  }
}

// Inputs
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-m;

  label {
    font-size: 16px;
    margin-bottom: $margin-xs;
  }

  input {
    font-size: 18px;
    padding: $padding-xxs;
    outline-color: $text-red;
  }
}