// Auth Button
@mixin authButton {
  background: $background-red;
  padding: $spacing-xs;
  font-size: 18px;
  border: none;
  outline: none;
  color: $text-white;
  margin-top: $spacing-s;
  animation: appear 1 0.5s;

  &:hover {
    background: $background-red-hover;
    cursor: pointer;
  }
}

// Inputs
@mixin authInput {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-m;

  label {
    font-size: 16px;
    margin-bottom: $spacing-xs;
  }

  input {
    font-size: 18px;
    padding: $spacing-xxs;
    outline-color: $text-red;
  }
}