// Auth Button
.auth-button {
  background: var(--background-red);
  padding: var(--padding-xs);
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--text-white);
  margin-top: var(--margin-s);
  animation: appear 1 0.5s;

  &:hover {
    background: var(--background-red-hover);
    cursor: pointer;
  }
}

// Inputs
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-m);

  label {
    font-size: 16px;
    margin-bottom: var(--margin-xs);
  }

  input {
    font-size: 18px;
    padding: var(--padding-xxs);
    outline-color: var(--text-red);
  }
}