@import 'functions';

html {
  font: 14px/1.5 sans-serif;
}

body {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: to-rem(30px);
}

h2 {
  font-size: to-rem(28px);
}

h3 {
  font-size: to-rem(26px);
}

h4 {
  font-size: to-rem(24px);
}

h5 {
  font-size: to-rem(22px);
}

h6 {
  font-size: to-rem(20px);
}

li {
  list-style: none;
}

input {
  width: 100%;
}
