  // Colors
  $red: #eb2525;
  $white: #fff;
  $black: #212121;

  // Text
  $text-red: $red;
  $text-white: $white;
  $text-black: $black;

  // Background
  $background-red: $red;
  $background-red-hover: #c21e1e;
  $background-black-transparent: rgba(0, 0, 0, 0.7);

  // Spacing
  $spacing-xxs: 0.25rem;
  $spacing-xs: 0.5rem;
  $spacing-s: 1rem;
  $spacing-m: 1.5rem;
  $spacing-l: 2rem;
  $spacing-xl: 2.5rem;
  $spacing-xxl: 3rem;