// Font
$font-size: 14px;

// Colors
$primary: #e84118;
$secondary: #141414;
$white: #fff;
$gray: #f8f8f8;
$gray-darker: #f5f6fa;
$gray-darkest: #f0f1f1;
$silver: #bdc3c7;
$primary-hover: #c21e1e;
$yellow: #dbdb1d;
$black-transparent: rgba(0, 0, 0, 0.7);

// Layout
$layout-max-width: to-rem(1440px);
