@import '../../../../index.scss';

.item {
  background: $background-white;
  box-shadow: 1px 1px 3px $silver;

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 24px;
  }
}
