@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '../../index.scss';

.product {
  display: grid;

  .image-gallery-thumbnails {
    display: none;

    @include media-breakpoint-md-up {
      display: block;
    }
  }

  @include media-breakpoint-lg-up {
    grid-template-columns: to-rem(600px) 1fr;
  }

  @include media-breakpoint-xl-up {
    grid-template-columns: to-rem(650px) 1fr;
  }

  .item-description {
    span {
      font-size: to-rem(16px);
    }

    .item-description-second {
      p {
        font-size: to-rem(18px);
        margin: to-rem(24px) 0;

        @include media-breakpoint-md-up {
          margin: 0;
        }
      }
    }

    .item-description-nav {
      position: fixed;
      bottom: 0;
      left: 0;
      box-shadow: 0px 0px 3px gray;

      h5 {
        flex: 1;

        @include media-breakpoint-sm-up {
          flex: none;
        }
      }

      @include media-breakpoint-sm-up {
        position: relative;
        box-shadow: none;
      }
    }
  }
}
