@import '../../../index.scss';

.form {
  max-width: to-rem(500px);

  div {
    input {
      font-size: to-rem(16px);
      padding: to-rem(8px) to-rem(15px);

      @include media-breakpoint-md-up {
        padding: to-rem(8px) to-rem(15px);
      }
    }

    button {
      width: to-rem(52px);
      margin-left: to-rem(-3px);
      transition: $slow;

      @include media-breakpoint-md-up {
        padding: to-rem(12px) to-rem(14px);
        top: to-rem(-0.5px);
      }
    }

    i {
      font-size: to-rem(20px);
    }
  }
}
