@import '../../../../index.scss';

.dropdown {
  z-index: 1;
  left: to-rem(-60px);
  top: to-rem(45px);
  width: to-rem(200px);
  animation: appear 1 $timing-fast;
  box-shadow: $shadow-small;

  li {
    font-size: to-rem(16px);

    &:hover {
      background: $silver;
    }
  }
}
