@import '../../../../index.scss';

.filter-dropdown {
  z-index: 1;
  left: to-rem(-50px);
  top: to-rem(45px);
  width: to-rem(200px);
  animation: appear 1 $fast;

  li {
    font-size: to-rem(16px);

    &:hover {
      background: $silver;
    }
  }
}
