@import '../../index';

.login {
  .aside {
    form {
      h2 {
        font-size: to-rem(42px);
      }

      .register-btn {
        font-size: 16px;
        color: $text-black;
      }
    }
  }
}

@include media-breakpoint-md-up {
  .login {
    .login-intro {
      flex: 2.5;
      background-position: 0%;
    }

    .aside {
      flex: 1;
    }
  }
}
