@import '../../../index.scss';

.item {
  box-shadow: $shadow-small;

  &-name {
    font-size: 18px;

    @include media-breakpoint-md-up {
      font-size: 16px;
    }
  }

  &-price {
    font-size: 21px;

    @include media-breakpoint-md-up {
      font-size: 18px;
    }
  }

  &-stars {
    i {
      color: $yellow;
    }
  }

  a {
    &:hover {
      color: $black;
    }
  }

  button {
    &:hover {
      box-shadow: $shadow-large;
    }
  }

  .container {
    .img {
      object-fit: cover;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      display: 'block';
      content: '';
      padding-top: 100%;
    }
  }
}
