@import '../../../index.scss';

.item {
  box-shadow: $shadow-small;

  .container {
    .img {
      object-fit: cover;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      display: 'block';
      content: '';
      padding-top: 100%;
    }
  }
}
