@import '../../../../index.scss';

.item {
  .img-container::before {
    display: 'block';
    content: '';
    padding-top: 100%;
  }

  img {
    object-fit: cover;
    top: 50%;
    transform: translateY(-50%);
  }
}
