@import '../../../../index.scss';

.card {
  box-shadow: $shadow-small;

  &:hover {
    box-shadow: $shadow-normal;
  }

  img {
    width: to-rem(48px);
  }

  p {
    @include media-breakpoint-md-up {
      font-size: to-rem(16px);
    }
  }
}
