@import '../../../index.scss';

.menu {
  ul {
    li {
      height: to-rem(28px);

      .menu-link {
        flex: 1;
        font-size: to-rem(16px);

        i {
          font-size: to-rem(22px);
        }
      }
    }
  }
}
