.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--padding-xxl) var(--padding-l);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 42px;
      margin-top: var(--margin-xl);
      margin-bottom: var(--margin-xxl);
    }

    .login-btn {
      margin: var(--margin-l) 0 var(--margin-s);
      align-self: flex-end;
      font-size: 18px;
      text-decoration: none;
      color: var(--text-black);
    }
  }
}