.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--padding-xxl) var(--padding-l);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 42px;
      margin: var(--margin-xl) 0 var(--margin-xxl);
    }

    .login-btn {
      margin: var(--margin-l) 0 var(--margin-s);
      align-self: flex-end;
      font-size: 16px;
      text-decoration: none;
      color: var(--text-black);
    }
  }
}

@media screen and (min-width: 500px) {
  .register {
    max-width: 30rem;
    margin: 0 auto;

    form {
      h2 {
        margin-top: var(--margin-xs);
      }
    }
  }
}