@import '../../index.scss';

.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: $padding-xxl $padding-l;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 42px;
      margin: $margin-xl 0 $margin-xxl;
    }

    .auth-button {
      @include authButton;
    }

    .login-btn {
      margin: $margin-l 0 $margin-s;
      align-self: flex-end;
      font-size: 16px;
      text-decoration: none;
      color: $text-black;
    }
  }
}

@media screen and (min-width: 500px) {
  .register {
    max-width: 30rem;
    margin: 0 auto;

    form {
      h2 {
        margin-top: $margin-xs;
      }
    }
  }
}