@import '../../index.scss';

.login {
  .login-intro {
    background: url('/img/login.jpg');
    background-position: 10%;
    background-size: cover;

    .black-layer {
      background: $background-black-transparent;

      h2,
      h3 {
        color: $text-white;
      }

      h2 {
        font-size: 48px;
      }

      h3 {
        font-size: 28px;
      }

      span {
        background: $background-red;
      }
    }
  }

  .aside {
    form {
      h2 {
        font-size: 42px;
      }

      .row {
        @include authInput;
      }

      .auth-button {
        @include authButton;
      }

      .register-btn {
        font-size: 16px;
        color: $text-black;
      }
    }
  }
}

// Responsive
@media screen and (min-width: 500px) {
  .login {
    .login-intro {
      flex: 2.5;
      background-position: 0%;
    }

    .aside {
      flex: 1;
    }
  }
}