@import '../../../index';

.home {
  .home-intro {
    background: url('/img/home.jpg');
    background-position: 10%;
    background-size: cover;

    .black-layer {
      background: $background-black-transparent;

      h2,
      h3 {
        color: $text-white;
      }

      h2 {
        font-size: 48px;

        span {
          background: $background-red;
        }
      }

      h3 {
        font-size: 28px;
      }
    }

    .pulsing-arrow {
      bottom: 2rem;

      @include media-breakpoint-md-up {
        bottom: 3rem;
      }
    }
  }

  .two {
    article {
      @include media-breakpoint-md-up {
        height: 100% !important;
      }
    }
  }
}
