@import '../../../index';

.home {
  .auth-m {
    right: to-rem(62px);
    top: to-rem(72px);
  }

  .burger-menu {
    top: to-rem(28px);
    right: to-rem(28px);
  }

  .home-intro {
    background: url('/img/home.jpg');
    background-position: 10%;
    background-size: cover;

    .pulsing-arrow {
      bottom: to-rem(28px);

      @include media-breakpoint-md-up {
        bottom: to-rem(42px);
      }
    }
  }

  .one {
    hr {
      width: to-rem(48px);
      height: to-rem(4px);
      border-radius: 2rem;
    }

    & > article {
      padding: 0 to-rem(16px);

      @include media-breakpoint-lg-up {
        padding: 0 to-rem(92px);
      }

      @include media-breakpoint-xl-up {
        padding: 0 10rem;
      }

      h2 {
        margin-bottom: to-rem(42px);

        @include media-breakpoint-lg-up {
          margin-bottom: to-rem(68px);
        }
      }

      article {
        p {
          max-width: to-rem(400px);
        }

        img {
          border-radius: to-rem(5px);

          @include media-breakpoint-md-up {
            width: to-rem(450px);
          }
        }
      }
    }

    p {
      font-size: to-rem(20px);
    }
  }
}

.two {
  article {
    height: 100vh;

    @include media-breakpoint-md-up {
      height: 100%;
    }
  }
}
