@import '../../../index';

.home {
  .home-intro {
    background: url('/img/home.jpg');
    background-position: 10%;
    background-size: cover;

    & > section {
      height: 92vh;
    }

    .pulsing-arrow {
      bottom: to-rem(28px);

      @include media-breakpoint-md-up {
        bottom: to-rem(42px);
      }
    }
  }

  .one {
    hr {
      width: to-rem(48px);
      height: to-rem(4px);
    }

    & > article {
      padding: 0 to-rem(16px);

      @include media-breakpoint-lg-up {
        padding: 0 to-rem(92px);
      }

      @include media-breakpoint-xl-up {
        padding: 0 to-rem(140px);
      }

      h2 {
        margin-bottom: to-rem(42px);

        @include media-breakpoint-lg-up {
          margin-bottom: to-rem(68px);
        }
      }

      article {
        p {
          max-width: to-rem(400px);
          font-size: to-rem(20px);
        }

        img {
          @include media-breakpoint-md-up {
            width: to-rem(450px);
          }
        }
      }
    }
  }

  .two {
    article {
      height: 100vh;

      @include media-breakpoint-md-up {
        height: 100%;
      }
    }
  }
}
